/* Reset styles */
body {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

/* Section styles */
.section {
  margin-bottom: 60px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Link list styles */
.link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-list-item {
  margin-bottom: 20px;
}

.link-list-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  transition: color 0.3s ease;
}

.link-list-item a:hover {
  color: #ff6c00;
}

/* Dark mode toggle styles */
.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.dark-mode-toggle input[type="checkbox"] {
  display: none;
}

.dark-mode-toggle-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.dark-mode-toggle-label::before,
.dark-mode-toggle-label::after {
  content: "";
  position: absolute;
  border-radius: 17px;
  transition: all 0.3s ease;
}

.dark-mode-toggle-label::before {
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  background-color: #ff6c00;
  box-shadow: 0 0 5px rgba(255, 108, 0, 0.5);
}

.dark-mode-toggle-label::after {
  top: 3px;
  left: 35px;
  width: 28px;
  height: 28px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.dark-mode-toggle input:checked + .dark-mode-toggle-label::before {
  transform: translateX(26px);
  background-color: #6b6b6b;
}

.dark-mode-toggle input:checked + .dark-mode-toggle-label::after {
  transform: translateX(-32px);
}

.dark-mode-toggle-label::before,
.dark-mode-toggle-label::after {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
/* Add animation to the container */
.container {
  opacity: 0; /* Initially set the opacity to 0 */
  animation: fade-in 1s ease forwards; /* Apply the fade-in animation */
}

/* Define the fade-in animation */
@keyframes fade-in {
  from {
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(20px); /* Move the element 20px down */
  }
  to {
    opacity: 1; /* End with opacity 1 */
    transform: translateY(0); /* Move the element back to its original position */
  }
}
